<!-- BEGIN_INCLUDE(pager-duty:greet) -->
    <pager-duty:greet config-ref="" friend="#[map-payload:friend]" />
<!-- END_INCLUDE(pager-duty:greet) -->
<!-- BEGIN_INCLUDE(pager-duty:add-entity) -->
    <pager-duty:add-entity config-ref="" key="id1"/>
<!-- END_INCLUDE(pager-duty:add-entity) -->
